# Filter dataframe with keywords using `str.find()`

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('data/Average_Daily_Traffic_Counts.csv')

### Examine the first 10 records

In [3]:
df.head(10)

,ID,Traffic Volume Count Location Address,Street,Date of Count,Total Passing Vehicle Volume,Vehicle Volume By Each Direction of Traffic,Latitude,Longitude,Location
0,2,1708 West,71st Street,03/09/2006,14600,East Bound: 6900 / West Bound: 7700,41.764877,-87.666635,"(41.764877, -87.666635)"
1,3,1275 West,71st Street,02/28/2006,16500,East Bound: 7800 / West Bound: 8700,41.765008,-87.657067,"(41.765008, -87.657067)"
2,5,920 West,71st Street,02/28/2006,18200,East Bound: 8800 / West Bound: 9400,41.765153,-87.647751,"(41.765153, -87.647751)"
3,6,758 West,71st Street,02/28/2006,21600,East Bound: 10400 / West Bound: 11200,41.765204,-87.644371,"(41.765204, -87.644371)"
4,7,240 East,71st St,02/28/2006,18300,East Bound: 9000 / West Bound: 9300,41.765644,-87.618476,"(41.765644, -87.618476)"
5,9,2050 East,71st St,03/09/2006,8600,East Bound: 3600 / West Bound: 5000,41.766260,-87.574226,"(41.76626, -87.574226)"
6,10,8539 South,Commercial Ave,03/07/2006,10000,North Bound: 5000 / South Bound: 5000,41.739836,-87.551476,"(41.739836, -87.551476)"
7,11,8933 South,Commercial Ave,03/07/2006,10500,North Bound: 4900 / South Bound: 5600,41.732725,-87.551320,"(41.732725, -87.55132)"
8,12,9379 South,Commercial Ave,03/07/2006,12700,North Bound: 6000 / South Bound: 6700,41.724444,-87.551124,"(41.724444, -87.551124)"
9,13,9730 South,Commercial Ave,03/07/2006,9000,North Bound: 4000 / South Bound: 5000,41.718183,-87.551016,"(41.718183, -87.551016)"

### Find any street that includes the letters 'Hwy' in the street name
The `str.find()` method will return the position of the word in the string, so I need to specific > 0 to return only those records where a word is found.

In [4]:
df[df.Street.str.find('Hwy')>0]

,ID,Traffic Volume Count Location Address,Street,Date of Count,Total Passing Vehicle Volume,Vehicle Volume By Each Direction of Traffic,Latitude,Longitude,Location
635,680,5659 North,Northwest Hwy,08/22/2006,9900,North Bound: 4900 / South Bound: 5000,41.984243,-87.784632,"(41.984243, -87.784632)"
688,738,6805 North,Northwest Hwy,08/15/2006,16100,North Bound: 7500 / South Bound: 8600,42.004572,-87.818987,"(42.004572, -87.818987)"